In [23]:
import pandas as pd

In [24]:
df_hawaii_msrmnts = pd.read_csv('Resources/hawaii_measurements.csv')
df_hawaii_stations = pd.read_csv('Resources/hawaii_stations.csv')

In [25]:
df_hawaii_stations = df_hawaii_stations.sort_values(by=['station'])
df_hawaii_stations.head()

,station,name,latitude,longitude,elevation
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.3152,-157.9992,0.9
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9

In [28]:
df_hawaii_msrmnts.fillna(0, inplace=True)
df_hawaii_msrmnts = df_hawaii_msrmnts.sort_values(by=['station', 'date'])
# df_hawaii_stations[pd.isnull(df_hawaii_stations).any(axis=1)]
# df_hawaii_msrmnts[pd.isnull(df_hawaii_msrmnts).any(axis=1)]
# # for row in df_hawaii_stations.iterrows():
# #     print(df_hawaii_msrmnts[df_hawaii_msrmnts["station"].str.contains(row["station"])].count())
df_hawaii_msrmnts["station"].value_counts()
# df_hawaii_msrmnts.reset_index()
# df_hawaii_msrmnts.head()

USC00519281    2772
USC00519397    2724
USC00513117    2709
USC00519523    2669
USC00516128    2612
USC00514830    2202
USC00511918    1979
USC00517948    1372
USC00518838     511
Name: station, dtype: int64

In [27]:

df_hawaii_stations.to_csv("Resources/clean_hawaii_stations.csv",index = False)
df_hawaii_msrmnts.to_csv("Resources/clean_hawaii_measurements.csv",index = False)