In [1]:
# Dependencies and boilerplate
from sqlalchemy import Column, Float, Integer, String,ForeignKey
from sqlalchemy.ext.declarative import declarative_base
import pandas as pd
Base = declarative_base()

In [2]:
# Define a Station class
### BEGIN SOLUTION
class Station(Base):
    __tablename__ = "stations"
    
    id = Column(String, primary_key=True)
    name = Column(String)
    latitude = Column(Float) 
    longitude = Column(Float)
    elevation = Column(Float)
### END SOLUTION

In [3]:
# Define a Station class
### BEGIN SOLUTION
class Measurement(Base):
    __tablename__ = "measurements"
    
    id = Column(Integer, primary_key=True)
    station_id = Column(String,ForeignKey('stations.id'))
    date = Column(String)
    prcp = Column(Float) 
    tobs = Column(Integer)
### END SOLUTION

In [4]:

# Use a Session to test the Prescription class
### BEGIN SOLUTION
from sqlalchemy import create_engine

engine = create_engine("sqlite:///hawaii.sqlite")
!rm hawaii.sqlite
Base.metadata.create_all(engine)

In [5]:

df_stations = pd.read_csv("Resources/clean_hawaii_stations.csv")
df_measurements = pd.read_csv("Resources/clean_hawaii_measurements.csv")
df_stations.head()

,station,name,latitude,longitude,elevation
0,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.3152,-157.9992,0.9
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
4,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9

In [6]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

# station_measurement_list = []

for index_station, row_station in df_stations.iterrows():
    station_measurement_list = []
    station_measurement_list.append(Station(id = row_station[0],\
                                            name = row_station[1],\
                                            latitude = row_station[2],\
                                            longitude = row_station[3],\
                                            elevation = row_station[4]))
    df_station_msrmnt = df_measurements[df_measurements["station"] == row_station[0] ]
    
 
    
    for index_measurement, row_measurement in df_station_msrmnt.iterrows():
        station_measurement_list.append(Measurement( id = int(index_measurement) + 1 ,\
                                                     station_id = row_measurement[0],\
                                                     date = row_measurement[1],\
                                                     prcp = row_measurement[2],\
                                                     tobs = row_measurement[3]))
#         break;
    session.add_all(station_measurement_list)
    session.commit()
#     break;


#df_station_msrmnt
# df_measurements[df_measurements["station"] == "USC00511918" ]
# df_measurements

In [7]:
station_record = session.query(Station)
for rec in station_record:
    print(rec.id)

USC00511918
USC00513117
USC00514830
USC00516128
USC00517948
USC00518838
USC00519281
USC00519397
USC00519523