In [1]:
import pandas as pd

In [9]:
df_hawaii_msrmnts = pd.read_csv('Resources/hawaii_measurements.csv')
df_hawaii_stations = pd.read_csv('Resources/hawaii_stations.csv')

In [10]:
df_hawaii_stations = df_hawaii_stations.sort_values(by=['station'])
df_hawaii_stations.head()

,station,name,latitude,longitude,elevation
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.3152,-157.9992,0.9
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9

In [11]:
df_hawaii_msrmnts.fillna(0, inplace=True)
# df_hawaii_msrmnts = df_hawaii_msrmnts.sort_values(by=['station', 'date'])
# df_hawaii_stations[pd.isnull(df_hawaii_stations).any(axis=1)]
# df_hawaii_msrmnts[pd.isnull(df_hawaii_msrmnts).any(axis=1)]
# # for row in df_hawaii_stations.iterrows():
# #     print(df_hawaii_msrmnts[df_hawaii_msrmnts["station"].str.contains(row["station"])].count())
# df_hawaii_msrmnts["station"].value_counts()
# df_hawaii_msrmnts.reset_index()
# df_hawaii_msrmnts.head()
df_hawaii_msrmnts

           station        date  prcp  tobs
0      USC00519397  2010-01-01  0.08    65
1      USC00519397  2010-01-02  0.00    63
2      USC00519397  2010-01-03  0.00    74
3      USC00519397  2010-01-04  0.00    76
4      USC00519397  2010-01-06  0.00    73
5      USC00519397  2010-01-07  0.06    70
6      USC00519397  2010-01-08  0.00    64
7      USC00519397  2010-01-09  0.00    68
8      USC00519397  2010-01-10  0.00    73
9      USC00519397  2010-01-11  0.01    64
10     USC00519397  2010-01-12  0.00    61
11     USC00519397  2010-01-14  0.00    66
12     USC00519397  2010-01-15  0.00    65
13     USC00519397  2010-01-16  0.00    68
14     USC00519397  2010-01-17  0.00    64
15     USC00519397  2010-01-18  0.00    72
16     USC00519397  2010-01-19  0.00    66
17     USC00519397  2010-01-20  0.00    66
18     USC00519397  2010-01-21  0.00    69
19     USC00519397  2010-01-22  0.00    67
20     USC00519397  2010-01-23  0.00    67
21     USC00519397  2010-01-24  0.01    71
22     USC00519397  2010-01-25  0.00    67
23     USC00519397  2010-01-26  0.04    76
24     USC00519397  2010-01-27  0.12    68
25     USC00519397  2010-01-28  0.00    72
26     USC00519397  2010-01-30  0.00    70
27     USC00519397  2010-01-31  0.03    67
28     USC00519397  2010-02-01  0.01    66
29     USC00519397  2010-02-03  0.00    67
...            ...         ...   ...   ...
19520  USC00516128  2017-07-24  0.84    77
19521  USC00516128  2017-07-25  0.30    79
19522  USC00516128  2017-07-26  0.30    73
19523  USC00516128  2017-07-27  0.00    75
19524  USC00516128  2017-07-28  0.40    73
19525  USC00516128  2017-07-29  0.30    77
19526  USC00516128  2017-07-30  0.30    79
19527  USC00516128  2017-07-31  0.00    74
19528  USC00516128  2017-08-01  0.00    72
19529  USC00516128  2017-08-02  0.25    80
19530  USC00516128  2017-08-03  0.06    76
19531  USC00516128  2017-08-05  0.00    77
19532  USC00516128  2017-08-06  0.00    79
19533  USC00516128  2017-08-07  0.05    78
19534  USC00516128  2017-08-08  0.34    74
19535  USC00516128  2017-08-09  0.15    71
19536  USC00516128  2017-08-10  0.07    75
19537  USC00516128  2017-08-11  0.00    72
19538  USC00516128  2017-08-12  0.14    74
19539  USC00516128  2017-08-13  0.00    80
19540  USC00516128  2017-08-14  0.22    79
19541  USC00516128  2017-08-15  0.42    70
19542  USC00516128  2017-08-16  0.42    71
19543  USC00516128  2017-08-17  0.13    72
19544  USC00516128  2017-08-18  0.00    76
19545  USC00516128  2017-08-19  0.09    71
19546  USC00516128  2017-08-20  0.00    78
19547  USC00516128  2017-08-21  0.56    76
19548  USC00516128  2017-08-22  0.50    76
19549  USC00516128  2017-08-23  0.45    76

[19550 rows x 4 columns]

In [5]:

df_hawaii_stations.to_csv("Resources/clean_hawaii_stations.csv",index = False)
df_hawaii_msrmnts.to_csv("Resources/clean_hawaii_measurements.csv",index = False)

In [6]:
df_hawaii_msrmnts

           station        date  prcp  tobs
14959  USC00511918  2010-01-01  0.05    66
14960  USC00511918  2010-01-02  0.00    70
14961  USC00511918  2010-01-03  0.00    75
14962  USC00511918  2010-01-04  0.00    75
14963  USC00511918  2010-01-05  0.00    75
14964  USC00511918  2010-01-06  0.08    72
14965  USC00511918  2010-01-07  0.04    70
14966  USC00511918  2010-01-08  0.00    63
14967  USC00511918  2010-01-09  0.00    68
14968  USC00511918  2010-01-10  0.00    74
14969  USC00511918  2010-01-11  0.05    64
14970  USC00511918  2010-01-12  0.00    57
14971  USC00511918  2010-01-13  0.00    57
14972  USC00511918  2010-01-14  0.00    65
14973  USC00511918  2010-01-15  0.00    56
14974  USC00511918  2010-01-16  0.00    66
14975  USC00511918  2010-01-18  0.00    73
14976  USC00511918  2010-01-19  0.00    61
14977  USC00511918  2010-01-20  0.00    66
14978  USC00511918  2010-01-21  0.00    68
14979  USC00511918  2010-01-22  0.00    60
14980  USC00511918  2010-01-23  0.00    78
14981  USC00511918  2010-01-24  0.00    71
14982  USC00511918  2010-01-25  0.00    68
14983  USC00511918  2010-01-26  0.03    76
14984  USC00511918  2010-01-27  0.25    69
14985  USC00511918  2010-01-29  0.00    65
14986  USC00511918  2010-01-30  0.40    77
14987  USC00511918  2010-01-31  0.01    71
14988  USC00511918  2010-02-01  0.00    64
...            ...         ...   ...   ...
12157  USC00519523  2017-07-20  0.33    80
12158  USC00519523  2017-07-21  0.00    80
12159  USC00519523  2017-07-22  0.00    78
12160  USC00519523  2017-07-24  0.00    79
12161  USC00519523  2017-07-25  0.05    80
12162  USC00519523  2017-07-26  0.00    84
12163  USC00519523  2017-07-27  0.00    80
12164  USC00519523  2017-07-28  0.00    81
12165  USC00519523  2017-07-29  0.00    83
12166  USC00519523  2017-07-30  0.00    84
12167  USC00519523  2017-07-31  0.00    82
12168  USC00519523  2017-08-01  0.00    75
12169  USC00519523  2017-08-02  0.00    83
12170  USC00519523  2017-08-03  0.00    80
12171  USC00519523  2017-08-04  0.00    82
12172  USC00519523  2017-08-06  0.00    83
12173  USC00519523  2017-08-07  0.00    83
12174  USC00519523  2017-08-08  0.00    82
12175  USC00519523  2017-08-10  0.00    80
12176  USC00519523  2017-08-11  0.00    81
12177  USC00519523  2017-08-12  0.00    83
12178  USC00519523  2017-08-13  0.00    84
12179  USC00519523  2017-08-14  0.08    75
12180  USC00519523  2017-08-15  0.06    79
12181  USC00519523  2017-08-16  0.07    79
12182  USC00519523  2017-08-17  0.05    83
12183  USC00519523  2017-08-19  0.00    85
12184  USC00519523  2017-08-21  0.00    82
12185  USC00519523  2017-08-22  0.00    82
12186  USC00519523  2017-08-23  0.08    82

[19550 rows x 4 columns]